<div class="card card-pin raco" tags="{{ post.categories | join: ',' }}" {% unless post.image %}
  style="min-height:250px;background:#333;" {% endunless %}>

  {% unless post.image %}

  <a href="{{site.baseurl}}{{post.url}}" class="d-block p-3">
    <h2 class="card-title title text-white mb-3">{{ post.title }}</h2>
    <small class="d-block text-muted">{{ post.content | strip_html | truncatewords:25 }}</small>
  </a>

  {% endunless %}

  {% if post.image %}

  <div class="wrapcat">
    <div class="showcat">
      {% assign categories_list = post.categories | sort %}
      {% for category in categories_list %}
      <a class="btn btn-sm btn-danger mb-1" href="#" tag="{{ category | downcase }}" onclick="toggleByTag(this, '{{ category | downcase }}')">
        {{ category }}
      </a>
      {% endfor %}
    </div>
  </div>

  <a href="{{site.baseurl}}{{post.url}}">
    <img loading="lazy" class="card-img-top" src="{% if post.image contains " ://" %}{{ post.image }}{% else %}{{ post.image |
      absolute_url }}{% endif %}" alt="{{ post.title }}">

    <div class="notraco">
      <span class="text-muted small">{{ post.date | date: '%Y-%m-%d' }}</span>
      <h2 class="card-title title">{{ post.title }}</h2>
    </div>
  </a>

  {% endif %}

</div>
