<!-- Don't edit anything here, categories are dynamically generated -->

<nav class="navbar categories navbar-dark bg-dark pl-2 pr-2">
  {% assign categories_list = site.categories | sort %}
  {% if categories_list.first[0] == null %}
  {% for category in categories_list %}
  <span class="btn btn-sm btn-danger tag" tag="{{ category | downcase }}" onclick="toggleByTag(this, '{{ category | downcase }}')">{{ category }}</span>
  {% endfor %}
  {% else %}
  {% for category in categories_list %}
  <span class="btn btn-sm btn-danger tag" tag="{{ category[0] | downcase }}" onclick="toggleByTag(this, '{{ category[0] | downcase }}')">{{ category[0] }}</span>
  {% endfor %}
  {% endif %}
  {% assign categories_list = nil %}
</nav>
