<!-- All this area goes before </body> closing tag -->

<!-- Cookie Consent, nothing for you to replace here. Remove it if you want  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.1/build/cookieconsent.min.css"
  integrity="sha256-zQ0LblD/Af8vOppw18+2anxsuaz3pWYyVWi+bTvTH8Q=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.1/build/cookieconsent.min.js"
  integrity="sha256-5VhCqFam2Cn+yjw61zbBNrbHVJ6SRydPeKopYlngbiQ=" crossorigin="anonymous"></script>

<script>
  window.addEventListener("load", function () {
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#212121",
          "text": "#ffffff"
        },
        "button": {
          "background": "#FBC02D"
        }
      },
      "position": "bottom-left",
      "content": {
        "href": "{{site.url}}{{site.baseurl}}/privacy-policy.html"
      }
    })
  });
</script>
