---
layout: default
---

<section class="bg-gray200 pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">

        <article class="card">

          {% if page.image %}
          <a data-alt="{{ page.title }}" href="{% if page.image contains " ://" %}{{ page.image }}{% else %}{{
            page.image | absolute_url }}{% endif %}">
            <img loading="lazy" class="card-img-top" src="{% if page.image contains " ://" %}{{ page.image }}{% else
              %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}">
          </a>
          {% endif %}

          <div class="card-body text-light">

            <h1 class="display-5">
              {{page.title}}
            </h1>

            <small class="text-muted d-block mb-3">
              {% unless page.metadate == "hide" %}
              {{ page.date | date: '%Y-%m-%d' }}
              {% endunless %}
              {% if page.author %}
              , by {{page.author | capitalize}}
              {% endif %}
            </small>

            <h3 id="setup">Setup</h3>

            <div>
              {% if page.mount %}
              <span class="equipment">
                <span class="type text-muted">Montagem</span>
                <span class="model">{{ page.mount }}</span>
              </span>
              {% endif %}

              {% if page.telescope %}
              <span class="equipment">
                <span class="type text-muted">Telescópio</span>
                <span class="model">{{ page.telescope }}</span>
              </span>
              {% endif %}

              {% if page.imagingCamera %}
              <span class="equipment">
                <span class="type text-muted">Câmera de Captura</span>
                <span class="model">{{ page.imagingCamera }}</span>
              </span>
              {% endif %}

              {% if page.guidingCamera %}
              <span class="equipment">
                <span class="type text-muted">Câmera-Guia</span>
                <span class="model">{{ page.guidingCamera }}</span>
              </span>
              {% endif %}

              {% if page.guidescope %}
              <span class="equipment">
                <span class="type text-muted">Telescópio-Guia</span>
                <span class="model">{{ page.guidescope }}</span>
              </span>
              {% endif %}
            </div>

            {% assign totalOfExposure = 0 %}

            <h3 id="filters">Filtros</h3>

            <div>
              {% if page.luminance %}
              {% assign exposure = page.luminance[0] | times: page.luminance[1] %}
              {% assign totalOfExposure = totalOfExposure | plus: exposure %}
              <span class="filter">
                <span class="type text-muted">Luminance</span>
                <span class="model">{{ page.luminance[0] }}x{{ page.luminance[1] }}s</span>
              </span>
              {% endif %}

              {% if page.red %}
              {% assign exposure = page.red[0] | times: page.red[1] %}
              {% assign totalOfExposure = totalOfExposure | plus: exposure %}
              <span class="filter">
                <span class="type text-muted">Red</span>
                <span class="model">{{ page.red[0] }}x{{ page.red[1] }}s</span>
              </span>
              {% endif %}

              {% if page.green %}
              {% assign exposure = page.green[0] | times: page.green[1] %}
              {% assign totalOfExposure = totalOfExposure | plus: exposure %}
              <span class="filter">
                <span class="type text-muted">Green</span>
                <span class="model">{{ page.green[0] }}x{{ page.green[1] }}s</span>
              </span>
              {% endif %}

              {% if page.blue %}
              {% assign exposure = page.blue[0] | times: page.blue[1] %}
              {% assign totalOfExposure = totalOfExposure | plus: exposure %}
              <span class="filter">
                <span class="type text-muted">Blue</span>
                <span class="model">{{ page.blue[0] }}x{{ page.blue[1] }}s</span>
              </span>
              {% endif %}

              {% if page.ha %}
              {% assign exposure = page.ha[0] | times: page.ha[1] %}
              {% assign totalOfExposure = totalOfExposure | plus: exposure %}
              <span class="filter">
                <span class="type text-muted">Ha</span>
                <span class="model">{{ page.ha[0] }}x{{ page.ha[1] }}s</span>
              </span>
              {% endif %}

              {% if page.sii %}
              {% assign exposure = page.sii[0] | times: page.sii[1] %}
              {% assign totalOfExposure = totalOfExposure | plus: exposure %}
              <span class="filter">
                <span class="type text-muted">SII</span>
                <span class="model">{{ page.sii[0] }}x{{ page.sii[1] }}s</span>
              </span>
              {% endif %}

              {% if page.oiii %}
              {% assign exposure = page.oiii[0] | times: page.oiii[1] %}
              {% assign totalOfExposure = totalOfExposure | plus: exposure %}
              <span class="filter">
                <span class="type text-muted">OIII</span>
                <span class="model">{{ page.oiii[0] }}x{{ page.oiii[1] }}s</span>
              </span>
              {% endif %}

              <span class="filter">
                {% assign totalOfExposureInMinutes = totalOfExposure | divided_by: 60 %}
                {% assign totalOfExposureInSeconds = totalOfExposure | divided_by: 60.0 | minus:
                totalOfExposureInMinutes | times: 60 | ceil %}
                <span class="type text-muted">Total</span>
                <span class="model">{{ totalOfExposure }}s / </span>
                <span class="model">{{ totalOfExposureInMinutes }}m {{ totalOfExposureInSeconds }}s</span>
              </span>
            </div>

            {{ content }}

            {% if page.visit %}
            <p><a target="_blank" href="{{page.visit}}" class="btn btn-gray d-block font-weight-bold">
                Visit <i class="fas fa-external-link-alt"></i></a>
            </p>
            {% endif %}

            {% assign categories_list = page.categories | sort %}
            {% for category in categories_list %}
            <a class="btn btn-sm btn-primary mt-2" href="#">
              # {{ category | downcase }}
            </a>
            {% endfor %}

            <div style="margin-top: 32px">
              <a class="twitter-share-button"
                href="https://twitter.com/intent/tweet?text={{page.title}}&url=https://tiagohm.github.io{{site.baseurl}}{{page.url}}&hashtags=Astrophotography"
                data-size="large">
                Tweet
              </a>
            </div>

            {% include comments.html %}

          </div>

        </article>

        <div class="PageNavigation">
          {% if page.next.url %}
          <a class="prev" href="{{site.baseurl}}{{page.next.url}}"><i class="fa fa-angle-left"></i> </a>
          {% endif %}
          {% if page.previous.url %}
          <a class="next" href="{{site.baseurl}}{{page.previous.url}}"><i class="fa fa-angle-right"></i></a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/simplelightbox@2.14.2/dist/simple-lightbox.min.js"></script>

<script>
  var lightbox = new SimpleLightbox('.card a', { maxZoom: 50 })
</script>

<script>
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));
</script>